@import "tailwindcss";

@theme {
	/* Colors Extension */
	--color-bgbase: #0a0a0a;
	--color-void: #151515;
	--color-charcoal: #262626;
	--color-metal: #2c2c2c;
	--color-smoke: #aeaeae;
	--color-lava: #fd5842;
	--color-floral-white: #fffbef;
	--color-light-border: #ebe7dc;
	--color-dark-border: #2c2c2c;

	/* Spacing Extension */
	--spacing-content-padding-sm: 20px;
	--spacing-content-padding-lg: 50px;

	/* Font Extension */
	--font-aeonik-light: var(--font-aeonik-light), sans-serif;
	--font-aeonik-regular: var(--font-aeonik-regular), sans-serif;
	--font-aeonik-medium: var(--font-aeonik-medium), sans-serif;
	--font-satoshi: var(--font-satoshi), sans-serif;
}
